<div class="allUsersContent">
  <div id="fill"></div>
  <nav id="topNav">
  <div id="settingsMenu">
    <ul>
        <li> <a href="/logout"> Logout <img class="icon" src="https://cdn0.iconfinder.com/data/icons/gradient-runded-glowing-icons/128/right.png" width="30px" height="30px"></a></li>
        <li> <a href="/profile/{{username}}"> Profile <img class="icon" src="https://cdn0.iconfinder.com/data/icons/gradient-runded-glowing-icons/128/home.png" width="30px" height="30px"> </a></li>
  </ul>
</div>
<br>
  <div id="mainMenu">
    <ul>
      <li id="username" name={{username}}> <a href="/profile/{{username}}">{{username}}</a> </li>
      <li> <a href="/rate/{{username}}"> Rate Movies <img class="icon" src="https://cdn0.iconfinder.com/data/icons/gradient-runded-glowing-icons/128/heart.png"height="35px" width="35px"></a></li>
      <li> <a href="/recommended/{{username}}"> Find Recommended Movies <img class="icon" src="https://cdn0.iconfinder.com/data/icons/gradient-runded-glowing-icons/128/star.png"height="35px" width="35px"> </a></li>
      <li> <a href="/board/{{username}}"> Check Users Board <img class="icon" src="https://cdn0.iconfinder.com/data/icons/gradient-runded-glowing-icons/128/star.png"height="35px" width="35px"> </a></li>
    </ul>
  </div>
</nav>

<div id="usersBackground">

{{#each users}}
<div class="usersBoard">
  <h3 class="name"> {{this.username}} </h3>
  <br>
  <img src="{{this.avatar}}">
  <div class="userSummary">
  {{#if this.followed}} {{else}}  <button class="addButton" value="{{this.username}}">  Follow </button>{{/if}}
  <p id="{{this.username}}p" hidden> </p>
  </div>
  <hr>
</div>
{{/each}}

</div>
</div>
